.main-landing{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.landing-greeting{
  align-self: center;
  justify-self: center;
}

.elements{
  display: flex;
  align-items: center;
}
