@font-face {
  font-family: Pompadour;
  src: url('../../../public/fonts/01_APompadourSample.ttf');
}

.triangle-area-1{
  clip-path: polygon(0 35%, 100% 0, 100% 100%, 0 65%);

  .software-dev-text{
    font-family: Pompadour;
    font-size: 7rem;
  }
}
.triangle-area-2{
  clip-path: polygon(0 0, 100% 35%, 100% 65%, 0 100%);

  .web-dev-text{
    font-family: Pompadour;
    font-size: 7rem;
  }
}

.debater-text{
  font-family: Pompadour;
  font-size: 7rem;
}

