@font-face {
  font-family: Pompadour;
  src: url('../../../public/fonts/01_APompadourSample.ttf');
}

.main-landing{
  flex-grow: 1;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 100vh;
}

.container-div{
  display: flex;
  flex-direction: column;
}

.skills{
  justify-content: center;
  align-items: center;
}

.first-name{
  font-family: Pompadour;
}

.last-name{
  font-family: Pompadour;
}

.intro-text{
  font-family: Pompadour;
}