.main-landing{
  flex-grow: 1;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.container-div{
  display: flex;
  flex-direction: column;
}

.skills{
  justify-content: center;
  align-items: center;
}