.side-sections{
  align-content: flex-end ;
  justify-content: center;
  height: 40vh;
  display: flex;
  flex-direction: column;
}

.side-panel{  
  max-height: 100vh;
  display: flex;
  align-content: center;
  flex-direction: column;
  position: fixed;
  margin: 0;
  left: 0;
  padding: 0;
  border-right: 2px;
  z-index: 50;
  float: left;
}

.skills{
  width: 100%;
}

.side-sections{
  flex-grow: 1;
}

#section-1{
  justify-content:space-around;
}